


<div>
  <%= flash[:notice] %>
</div>


<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

  <%= link_to "edit", "/books/#{@book.id}/edit" %>
  <a class="back" href="/books">Back</a>
